<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand d-flex justify-content-center align-items-center bg-secondary text-white rounded-circle p-2" href="#">
          <i class="fa-solid fa-volcano"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-gear text-black-50"></i> 
                Matenimiento
              </a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['/cliente']" class="dropdown-item" href="#"><i class="fa-solid fa-user-large"></i>  Cliente</a></li>
                <li><a [routerLink]="['/categoria']" class="dropdown-item" href="#"><i class="fa-solid fa-shapes"></i>  Categoria</a></li>
                <li><a [routerLink]="['/producto']" class="dropdown-item" href="#"><i class="fa-solid fa-cubes"></i>  Producto</a></li>
              </ul>
            </li>
          </ul>
          <a class="d-flex justify-content-center align-items-center bg-warning text-black rounded-circle p-2" href="#">
            <i class="fa-solid fa-user-tie"></i>
          </a>
  
        </div>
  
      </div>
    </nav>
  </div>
