<app-navbar></app-navbar>
<app-card [titulo]="titulo" [icono]="icono"></app-card>
<div class="container">
    <button class="btn btn-success mt-3" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo"><i class="fa-solid fa-plus"></i></button>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">FACULTAD</th>
                    <th scope="col" colspan="2">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                  </tr>                  
                </tbody>
              </table>
        </div>
      </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Facultad</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Facultad:</label>
              <input type="text" class="form-control" id="facultad" name="facultad">
            </div>            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
